#root {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Arial, Helvetica, sans-serif; }
  #root .header {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    padding: 23px 99px 27px 100px;
    background-color: white; }
    #root .header .left-side {
      display: flex;
      align-items: center; }
      #root .header .left-side .header-title {
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        color: #4590ff; }
      #root .header .left-side .header-list {
        margin-left: 50px;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 200px; }
        #root .header .left-side .header-list select {
          text-transform: uppercase; }
          #root .header .left-side .header-list select option {
            text-transform: none; }
        #root .header .left-side .header-list li,
        #root .header .left-side .header-list li select {
          letter-spacing: 1.9px;
          font-size: 13px;
          font-weight: normal;
          color: #121212; }
        #root .header .left-side .header-list li select {
          appearance: none;
          border: none; }
        #root .header .left-side .header-list li select:focus {
          outline: none; }
    #root .header .right-side .account-icon {
      width: 45px;
      height: 45px;
      border: solid 1px #e8e8e8;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #root .header .right-side .account-icon .fa-user {
        color: #0290ff;
        font-size: 23px; }
  #root .books-list {
    display: flex;
    flex-direction: column;
    padding: 30px 100px 0;
    background-color: #fafafa; }
    #root .books-list .book-card {
      display: flex;
      padding: 27px;
      margin: 10px 0;
      background-color: white;
      border: solid 1px #e8e8e8;
      border-radius: 4px; }
      #root .books-list .book-card .left-side {
        flex: 2;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #root .books-list .book-card .left-side .book-details .category-sub-title {
          margin: 0;
          font-size: 14px;
          color: #121212;
          opacity: 0.2; }
        #root .books-list .book-card .left-side .book-details .title {
          margin: 3px 0 0 0;
          font-size: 22px;
          letter-spacing: -0.2px; }
        #root .books-list .book-card .left-side .book-details .author {
          margin: 0;
          color: #4386bf;
          font-size: 14px;
          font-weight: 400; }
        #root .books-list .book-card .left-side .book-details .options {
          display: flex;
          list-style-type: none;
          padding: 0; }
          #root .books-list .book-card .left-side .book-details .options li {
            margin: 3px 15px 2px 0;
            color: #4386bf;
            font-weight: 500;
            font-size: 14px; }
          #root .books-list .book-card .left-side .book-details .options button {
            appearance: none;
            background: none;
            border: none;
            color: #4386bf;
            font-weight: 300;
            font-size: 14px; }
          #root .books-list .book-card .left-side .book-details .options li:hover,
          #root .books-list .book-card .left-side .book-details .options button:hover {
            text-decoration: underline;
            cursor: pointer; }
        #root .books-list .book-card .left-side .completion-display {
          padding-right: 150px;
          display: flex;
          align-items: center; }
          #root .books-list .book-card .left-side .completion-display .circle {
            width: 60px;
            height: 60px;
            border: 6px solid grey;
            border-radius: 100%;
            margin-right: 35px; }
          #root .books-list .book-card .left-side .completion-display .percentage,
          #root .books-list .book-card .left-side .completion-display .completed {
            margin: 0; }
          #root .books-list .book-card .left-side .completion-display .percentage {
            font-size: 32px;
            color: #121212; }
          #root .books-list .book-card .left-side .completion-display .completed {
            font-size: 15px; }
      #root .books-list .book-card .right-side {
        flex: 1; }
        #root .books-list .book-card .right-side .chapter-details h6 {
          margin: 1px 0;
          opacity: 0.5;
          font-size: 13px;
          font-weight: 300;
          color: #121212;
          font-variant: small-caps; }
        #root .books-list .book-card .right-side .chapter-details .progress-button {
          background-color: #0290ff;
          border: none;
          width: 184px;
          height: 33px;
          border-radius: 3px;
          font-size: 13px;
          font-weight: 300;
          letter-spacing: 0.5px;
          text-align: center;
          color: white; }
  #root .form-section {
    padding: 50px 100px; }
    #root .form-section .dividing-line {
      width: 100%;
      border: solid 1px #e8e8e8; }
    #root .form-section .section-title {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.18px;
      color: #888; }
    #root .form-section form {
      display: flex; }
      #root .form-section form #title,
      #root .form-section form #category,
      #root .form-section form .submit-button {
        border-radius: 4px; }
      #root .form-section form #title,
      #root .form-section form #category {
        font-size: 16px;
        letter-spacing: -0.15px;
        color: #666;
        border: solid 1px #e8e8e8; }
      #root .form-section form #title {
        padding: 13px 17px;
        flex: 11; }
      #root .form-section form #category {
        padding: 13px 17px;
        flex: 5;
        margin: 0 40px; }
      #root .form-section form .submit-button {
        flex: 4;
        padding: 12.8px 19px 14.2px 22px;
        border: none;
        background-color: #0290ff;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: center;
        color: #fff; }

/*# sourceMappingURL=index.css.map */
